# Loops & Functions

This Notebook includes the following contents:

* for loop
* Nested for Loop

  -- `zip function`

* while loop
* Break and Continue Statements
* Functions

  -- `Create Function`

  -- `Calling a Function`

  -- `The difference between print and return`

  -- `Function Parameters and Arguments`

  -- `Types of Arguments`

  -- `Hints`

  -- `The difference between global variable and local variable`

  -- `Lambda Functions`

  -- `Nested Functions`

* Quick Review

## for Loop

- A for loop in Python is used to iterate over a sequence (such as a list, tuple, string, or range). It executes a block of code repeatedly for each item in the sequence.

- A for loop is used when you know in advance how many times you want to repeat a block of code.

In [1]:
range(5)

range(0, 5)

In [2]:
list(range(5))

[0, 1, 2, 3, 4]

In [3]:
for i in range(5):
  print("Hi")

print(i)

Hi
Hi
Hi
Hi
Hi
4

In [4]:
for i in range(6):
  print(i)

0
1
2
3
4
5

In [5]:
# The start can be specified
# The end is not printed

for i in range (1,6):
  print(i)

1
2
3
4
5

In [6]:
# example with a String

word = "Hello there"

for i in word:
  print(i)

H
e
l
l
o

t
h
e
r
e

In [7]:
lst = [10,5,7,78,7,10]

for num in lst:

  if num == 7:
    print(num)
    print("hello")

  else:
    print("Not 7")

Not 7
Not 7
7
hello
Not 7
7
hello
Not 7

In [8]:
lst1 = [25, 15, 30, 5, 22, 18]

for batool in lst1:
    if batool > 20:
        print(batool)
    else:
        print("Less or equal to 20")

25
Less or equal to 20
30
Less or equal to 20
22
Less or equal to 20



---


Task 1:

You have a list of numbers and you want to check if each number is in another list called special_numbers.

If the number is in the list, print the number; otherwise, print "Not in special numbers".

list1=[1,2,3,4]

list2=[1,4,5,6]


---

In [49]:
# Task1
list1 = [1,2,3,4]
list2 = [1,4,5,6]

for i in list1:
  if i in list2: 
   print(i)
  else:
    print('Not in special number')

1
Not in special number
Not in special number
4

# Nested Loops

In [50]:
salaries = [500,600,450]
employess = ["Nabeel", "Reema", "Omar"]

for emp in employess:
  for salary in salaries:
    print(f"Employee name is {emp}, Salary is {salary} ")

Employee name is Nabeel, Salary is 500
Employee name is Nabeel, Salary is 600
Employee name is Nabeel, Salary is 450
Employee name is Reema, Salary is 500
Employee name is Reema, Salary is 600
Employee name is Reema, Salary is 450
Employee name is Omar, Salary is 500
Employee name is Omar, Salary is 600
Employee name is Omar, Salary is 450

In [51]:
len(salaries)

3

In [52]:
salaries = [500,600,450]
employees = ["Nabeel", "Reema", "Omar"]

for i in range(len(salaries)):     # for i in range(3)    #for i in range(0 , 1 , 2)
  print(f"salary {salaries[i]} belongs to {employess[i]}")

salary 500 belongs to Nabeel
salary 600 belongs to Reema
salary 450 belongs to Omar

In [53]:
help(zip)

Help on class zip in module builtins:

class zip(object)
 |  zip(*iterables, strict=False) --> Yield tuples until an input is exhausted.
 |
 |     >>> list(zip('abcdefg', range(3), range(4)))
 |     [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]
 |
 |  The zip object yields n-length tuples, where n is the number of iterables
 |  passed as positional arguments to zip().  The i-th element in every tuple
 |  comes from the i-th iterable argument to zip().  This continues until the
 |  shortest argument is exhausted.
 |
 |  If strict is true and one of the arguments is exhausted before the others,
 |  raise a ValueError.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __setstate__(...)
 |      Set state information for unpickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [54]:
print(list(zip(employees, salaries)))

[('Nabeel', 500), ('Reema', 600), ('Omar', 450)]

In [55]:
salaries = [500,600,450]
employees = ["Nabeel", "Reema", "Omar", "batool"]

for i,e in zip(salaries, employees):
  print(f"salary {i} belongs to {e}")

salary 500 belongs to Nabeel
salary 600 belongs to Reema
salary 450 belongs to Omar

---
Task 2:

You have the following list_chars = ['A', 'B', 'C']

I want you to write a Python program to get this result.


---

In [83]:
# Task2
list_chars = ['A', 'B', 'C']
list_num = [1,2,3]

for c,n in zip(list_chars,list_num):
  print(f"character {c} and his number {n}")

character A and his number 1
character B and his number 2
character C and his number 3

# While Loop

A while loop repeatedly executes a block of code as long as the given condition is True. Once the condition becomes False, the loop stops.

In [59]:
i = 0
while i < 3:
    i = i + 1
    print(i)

1
2
3

In [60]:
i = 0
while i < 3:
    i = i + 1
print(i)

3

In [61]:
i = 0
while i < 3:
    print(i)
    i = i + 1

0
1
2

In [ ]:
# infinity loop
i = 0
while i < 5:
    print(i)

In [63]:
i = 0
while i < 5:
  print(i)
  i = i + 2

0
2
4

In [64]:
i = 3

while i > 0 :
  print("Hello","There")
  i-=1 # i = i - 1

print("Loop is ended")

Hello There
Hello There
Hello There
Loop is ended

In [65]:
i = 2
while i < 100:
    print(i)
    i =i*2

print(i)

2
4
8
16
32
64
128

---
Task 3:


Print all numbers from 0 to 10 using a while loop.

---

In [73]:
# Task3
x = 0

while x <= 10:
  print (x)
  x += 1

0
1
2
3
4
5
6
7
8
9
10

# Break and Continue Statements

Both for and while loops support the break and continue statements:

*   break: Terminates the loop prematurely. (Exits the loop entirely, stopping all iterations.)
*   continue: Skips the current iteration and proceeds to the next one.

In [74]:
for i in range(7):
    if i == 5:
        break
    print(i)
print("last i", i)

0
1
2
3
4
last i 5

In [75]:
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4

# Functions

A function in Python is a reusable block of code designed to perform a specific task. It helps you to organize code, avoid repetition, and improve readability.

---

A function is a block of organized, reusable code that is used to perform a specific task. Functions help divide a program into logical chunks, improving modularity and reusability.




Components of a Function:


*   def keyword: This marks the start of a function header.
*   function_name: A valid identifier representing the function.


*   parameters: Inputs to the function (optional). Multiple parameters are separated by commas.
*   return value: The output of the function (optional). If omitted, Python returns None.




---
Calling a Function

* To execute the code inside a function, you "call" the function by its name followed by parentheses. If the function takes parameters, you pass the values inside the parentheses.

In [ ]:
def my_fun():
  pass

In [ ]:
def my_function():
  pass

# how to call it

#print(my_function) # wrong way
print(my_function())

In [ ]:
# let's do something with it
x = 10
def greet():
    print("Hello, there!")

greet()
print(x)

In [ ]:
x = 10
def greet():
    return("Hello, there!")

greet()
print(x)

In [ ]:
x = 10
def greet():
    return("Hello, there!")

print(greet())
print(x)

In [ ]:
def greet():
    print("Hello, there!")

print(greet())

x = 10
print(x)
print(greet())

y = 5

Function Arguments

* Functions in Python can take arguments (or parameters), which allow you to pass data to the function.



---

Return Values

A function can return a value using the return statement. If the function doesn’t have a return statement, it returns None by default.

---

Types of Arguments:
1. Positional Arguments: These are passed to the function in the correct positional order.

2. Keyword Arguments: These allow you to pass values by explicitly naming the parameter.

3. Default Arguments: You can define default values for parameters, which will be used if no value is provided during the function call.

In [76]:
# Examples with Parameters:

def add_one(number):
  result = number + 1
  return (result)

print(add_one(7))
print("HI")

8
HI

In [77]:
# Examples with Parameters:
x=10
def greet(name):
    print(f"Hello, {name}!")

greet("marah")

greet = 10
print(greet)

Hello, marah!
10

In [78]:
# Positional Arguments

def add_1(a, b, c):
    print(a - b +c)

add_1(5,6,11)

10

In [79]:
# Keyword Arguments

def add(a, b , name):
    print(name)
    print(a + b)

add(name ="batool", a= 5 , b =4)

batool
9

In [82]:
def add(a, b , name):
    print(name)
    print(a + b)

add(5 ,4, "batool")

batool
9

---
Task 4:

Write a function that prints your name (without any parameters)

---
Task 5:


Write a function with two parameters (first_name , last_name) and then print (my full name is {first_name} , {last_name})

---

In [84]:
# Task4

def name():
  na_me= input('Enter your name: ')
  print(na_me)

name()

Abdulrahman

In [85]:
# Task5

def full_name(first_name, last_name):
  print(f'my full name is {first_name},{last_name}')

full_name('abdulrahman','fuad')

my full name is abdulrahman,fuad

In [86]:
# Default Parameters:

def greet(name="stranger"):
    print(f"Hello, {name}!")

greet()
greet("Yafa")

Hello, stranger!
Hello, Yafa!

In [89]:
def greet(age, name="stranger"):
    print(f"my age is {age} and name is {name}")


greet(15) # pass in age parameter
greet(10) #pass in both

my age is 15 and name is stranger
my age is 10 and name is stranger

In [90]:
# Default Parameters:

def greet(age,x,name="stranger"):
    print(f"my age is {age} and name is {name}")
    print(x)


#greet(10, name = "Yafa") # pass in age parameter
greet(10, 5) #pass in both

my age is 10 and name is stranger
5

---

Task 6:

Write a function that takes two numbers a and b and assign b to a default value 5 and then print(a + b)

---

In [93]:
# Task6
def numbers(a , b = 5):  # b has default value b = 5
  print(a + b)

numbers(10)

15

In [94]:
def add(a, b=5):
  print(a+b)

add(2)

7

In [95]:
# Return Statement (open the image)
def add(a, b):

  return a + b

# add(2, 3)
result = add(2, 3)
print(result)

5

In [96]:
# HINTS

def add(a:int, b:int = 5):
    return a + b

print(add(4))

9

In [97]:
#function to return the mean of the list

def find_mean(lst:list):

  summition = 0
  for i in lst:
    summition += i

  mean = summition / len(lst)

  print(mean)

In [98]:
find_mean([1,2,3])

2.0

In [99]:
def find_mean(lst:list):
  mean = sum(lst) / len(lst)

  print(mean)

In [100]:
find_mean([1,2,3])

2.0

---

Task 7:

Create a function takes a list of numbers and prints whether each number is even or odd.

---

In [102]:
# Task7
def lsts():
  lst = [1,2,3,4,5,6]
  for i in lst:
    if i%2 == 0:
      print(f'{i} number is even')
    else: print(f'{i} number is odd')
  
lsts()

1 number is odd
2 number is even
3 number is odd
4 number is even
5 number is odd
6 number is even

Variable Scope in Functions Local Scope: Variables defined within a function are in the local scope and cannot be accessed outside the function. Global Scope: Variables defined outside a function are in the global scope and can be accessed inside the function (though they can't be modified unless explicitly declared global).

In [103]:
x = 10  # Global variable

def p_x():
    x = 5
    x = 1
    print(x)

x = 9
p_x()
print(x)

1
9

In [104]:
y = 10  # Global variable

def print_x_y():
    x = 5 + y
    print(x)

print_x_y()
print(y)

15
10

In [105]:
name = 'Saif'  # global
age = 23  # global


def my_func():
  name = 'A'  # local but has the same name as a global variable
  last_name = "B"  # local only
  print(name)  # this will print the local value
  print(age)  # no local variable for age --> so it will print the global value
  print(last_name)  # print local value


my_func()

A
23
B

In [116]:
print(name)  # here the global value is printed because we are in the global scope
print(age)  # global value is printed
#print(last_name)  # error --> no global variable called last_name

Saif
23

In [117]:
def my_func():
  last_name = "B"  # local only
  return(last_name)  # print local value

print(my_func())

B

Lambda Functions

Lambda functions are small anonymous functions that can have any number of parameters but only one expression. They are written using the lambda keyword.

In [110]:
add_one = lambda a : a + 1  # function called add_one, takes one argument (a) and returns (a + 1)


add_one(5)

6

Nested Functions

You can define a function inside another function. This is called a nested function or an inner function.

In [111]:
def outer_function(text):
    def inner_function():
        print(text)
    return inner_function()

x= 10
print(x)
outer_function("Hello from the inner function!")

10
Hello from the inner function!

# Quick Review

In [112]:
def avg():
  m1 = int(input("enter m1 "))
  m2 = int(input("enter m2 "))
  m3 = int(input("enter m3 "))
  print((m1 + m2 + m3 )/ 3)

avg()

22.0

In [113]:
def avg():
  mark1=int(input("enter mark 1 "))
  mark2=int(input("enter mark 2 "))
  mark3=int(input("enter mark 3 "))
  return (mark1+mark2+mark3)/3

print(avg())

22.0

In [114]:
def avg(m1,m2,m3,m4):
  return (m1+m2+m3+m4)/4

print(avg(10,20,30,40))

25.0

In [115]:
def print_average():
    total = 0
    count = 0

    while True:
        mark = input("Enter a mark").upper()

        if mark in 'Q':
            break

        try:
            mark = float(mark)
            total += mark
            count += 1
        except ValueError:
            print("Wrong")

    if count == 0:
        print("No marks")
    else:
        average = total / count
        print(f"The average mark is: {average}")

print_average()

Wrong
No marks

# Great Job 🚀